


<form clrForm *ngIf="clientStations">
    <select clrSelect name="laund_select" [(ngModel)]="selectedOption" (change)="onChangeGraphType($event)">
        <option *ngFor="let station of clientStations" [value]="station.id">{{station.name}}</option>
    </select>
    <ng-container *ngIf="selectedOption.needsDate === true">
        <clr-date-container>
            <input type="date" clrDate name="startDate" [(ngModel)]="startDate" min="2019-11-17">
        </clr-date-container>
        <clr-date-container>
            <input type="date" clrDate name="endDate" [(ngModel)]="endDate">
        </clr-date-container>
    </ng-container>
    
</form>
<div style="display: block; width: 90%;">
    <canvas baseChart
    [datasets]="barChartData"
    [labels]="barChartLabels"
    [options]="barChartOptions"
    [plugins]="barChartPlugins"
    [legend]="barChartLegend"
    [chartType]="barChartType">
    </canvas>
</div>
