<header class="header header-4">
  <div class="branding">
    <a href="javascript://">
      <clr-icon shape="vm-bug"></clr-icon>
      <span class="title">OQP</span>
    </a>
  </div>
</header>

<h3>{{clientName}}</h3>
<!--<li *ngFor="let stat of clientStations">station {{stat.name}}</li>-->
<clr-datagrid>
  <clr-dg-column [clrDgField]="'name'">Laverie</clr-dg-column>
  <!--<clr-dg-column [clrDgField]="'adresse'">Adresse</clr-dg-column>-->
  <clr-dg-column [clrDgField]="'dispo'">Machines Disponibles</clr-dg-column>
  <clr-dg-row *clrDgItems="let stat of clientStations">
    <clr-dg-cell>{{stat.name}}</clr-dg-cell>
    <!--<clr-dg-cell>{{stat.adresse}}</clr-dg-cell>-->
    <clr-dg-cell><progress-bar [dispo]="stat.dispo" [max]="stat.max"></progress-bar></clr-dg-cell>
  </clr-dg-row>
  <clr-dg-footer>{{clientStations.length}} laveries</clr-dg-footer>
</clr-datagrid>
<div>S.L.I.P</div>